{% extends "base.html" %}
{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="background-color: red; min-height: 800px;">
        <img src="/static/Images/slide-1.gif" width="1550" height="800" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <!-- <h1>Second Image</h1> -->
      <div style="background-color: green; min-height: 800px;">
        <img src="/static/Images/ilpp.jpg" width="1550" height="800" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <!-- <h1>Third Image</h1> -->
      <div style="background-color: yellow; min-height: 800px;">
        <img src="/static/Images/slide-3.jpg" width="1550" height="800" alt="...">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}