{%extends "base.html"%}

{%block content%}

<div style="min-height: 500px; background-color: rgb(200, 200, 200);">
    <h3 style="text-align: center; padding-block: 20px;"> Organizing Team </h3>

    <div class="container" style="display: flex; flex-direction : row; flex-wrap: wrap; ">
        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/Director MNNIT.jpg" style=" min-height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. R. S. Verma</h5>
                <p class="card-text">Director of MNNIT, Allahabad</p>

            </div>
        </div>
        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/R. Tripathi Final.jpg" style=" height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Rajeev Tripathi</h5>
                <p class="card-text">Hon. Director of MNNIT, Allahabad</p>

            </div>
        </div>

        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/Prof._R._A._Mishra.jpg" style=" max-height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. R. A. Mishra</h5>
                <p class="card-text">Senior Professor MNNIT, Allahabad</p>

            </div>
        </div>
        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/Joybatra Mal.jpg" style=" max-height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Joyabrata Mal</h5>
                <p class="card-text">Senior Professor MNNIT, Allahabad</p>

            </div>
        </div>
        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/Shivesh_Sharma.jpg" style=" max-height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Shivesh Sharma</h5>
                <p class="card-text">Senior Professor and Placement Co-Ordinator MNNIT, Allahabad</p>

            </div>
        </div>
        <div class="card" style="width: 23rem; background-color: rgb(200,200,200);margin: 22px;">
            <img src="/static/Images/Shweta maam.png" style=" max-height: 273px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dr. Shweta Tripathi</h5>
                <p class="card-text">Senior Professor MNNIT, Allahabad</p>

            </div>
        </div>

    </div>


    <h3 style="text-align: center; padding-block: 20px;"> Tech Team </h3>
    <div class="container" style=" display:flex; width: 50%;">
        <div class="card" style="width: 25rem; background-color: rgb(200,200,200);margin: 16px;">
            <div class="card-body">
                <h5 class="card-title">Nandita Rani</h5>
                <p class="card-text">Final Yr. Student ECE</p>

            </div>
        </div>
        <div class="card" style="width: 25rem; background-color: rgb(200,200,200);margin: 16px;">
            <div class="card-body">
                <h5 class="card-title">Nakul Gaikwad</h5>
                <p class="card-text">Final Yr. Student ECE</p>

            </div>
        </div>
    </div>
</div>
{%endblock%}