{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" style=" width: 400px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0" style=" display: flex; justify-content: center; align-items : center; flex-direction: row;">
                <li class="nav-item " style="width: 100px;  padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;">
                    <a class="btn btn-light nav-link active" aria-current="page" href="#day1">Day 1</a>
                </li>
                <li class="nav-item " style="width:100px ; padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;">
                    <a class="btn btn-light nav-link active" aria-current="page" href="#day2">Day 2</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div style="display: flex; justify-content: center; align-items: center;  flex-direction: column; padding:10px ;">
        <h4 id="day1" class="text-center p-3" style="border : 2px solid red; border-radius: 10px; width: 15%; ">Day 1
        </h4>
    </div>
    <div style="font-size: 1.1rem;">


        <div class="container-fluid text-center mb-1"
        style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
        Date : 10 October 2022</div>
    <div class="container-fluid text-center mb-1"
        style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
        Time : 08 : 30 AM to 09 : 30 AM </div>
    <div class="container-fluid text-center mb-1"
        style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
        Introduction and Welcome </div>
    <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 10 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 09 : 30 AM to 10 : 00 AM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Session 1 : Optical Communication Reserch Related </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            Prof. Asim Mukharjee, MNNIT Allahabad </div>
        <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 10 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 10 : 45 AM to 11 : 20 AM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Recess </div>
        <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 10 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 11 : 30 AM to 12 : 30 PM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Session 2 : Research paper on Integrated Chips </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            Prof. Shweta Tripathi, MNNIT Allahabad </div>
        <br>
        <br>

        
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 10 October 2022(Day 1)</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 2 PM Onwards </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Inaugural Event </div>
        <div class="container-fluid text-center mb-1"
            style="font-size: 1.2rem; border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(212, 160, 203);">
            Venue : Multi Purpose(MP) Hall, MNNIT Allahabad </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            <h3> Chief Guest : Sundar Pichai</h3>
            <small>CEO Google</small>
        <p>
            <button class="btn btn-small btn-outline-transparent"> <a href="https://en.wikipedia.org/wiki/Sundar_Pichai"
                    style="text-decoration: none;">about chief guest</a> </button>
</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;  flex-direction: column; padding:10px ;">
        <h4 id="day2" class="text-center p-3" style="border : 2px solid red; border-radius: 10px; width: 15%; ">Day 2
        </h4>
    </div>
    <div style="font-size: 1.1rem;">


       
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 11 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 08 : 30 AM to 09 : 30 AM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Session 3 : Power Electronics </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            Kenote Speaker 3: Prof. Alberto Castellazzi, Kyoto University of Advanced Science, Japan </div>
        <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 11 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 09 : 30 AM to 10 : 00 AM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Session 4 : Optical Communication Reserch Related </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            Prof. Asim Mukharjee, MNNIT Allahabad </div>
        <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 11 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 10 : 45 AM to 11 : 20 AM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Recess </div>
        <br>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 11 October 2022</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 11 : 30 AM to 12 : 30 PM </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Session 5 : Research paper on Integrated Chips </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            Prof. Shweta Tripathi, MNNIT Allahabad </div>
        <br>
        <br>

        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: lavender;">
            Date : 11 October 2022(Day 2)</div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(214, 239, 162);">
            Time : 2 PM Onwards </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(169, 242, 242);">
            Inaugural Event </div>
        <div class="container-fluid text-center mb-1"
            style="font-size: 1.2rem; border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(212, 160, 203);">
            Venue : Multi Purpose(MP) Hall, MNNIT Allahabad </div>
        <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            <h3> Chief Guest : Sandeep Maheshwari</h3>
            <small>Motivational Speaker and Entrepreneur</small>
            <p>
            <button class="btn btn-small btn-outline-transparent"> <a href="https://en.wikipedia.org/wiki/Sandeep_Maheshwari"
                    style="text-decoration: none;">about chief guest</a> </button>
                </p>
        </div>
    </div>
</div>
{% endblock %}