{% extends "base.html" %}

{% block content %}
<style>
    #fx{
        font-weight: bold;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: x-large;
    }
    #xx{
        font-weight: bold;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: medium;
    }
    
</style>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" style=" width: 400px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0" style=" display: flex; justify-content: center; align-items : center; flex-direction: row;">
                <li class="nav-item " style="width: 100px;  padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;">
                    <a class="btn btn-light nav-link active" aria-current="page" href="#day1">Day 1</a>
                </li>
                <li class="nav-item " style="width:100px ; padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;">
                    <a class="btn btn-light nav-link active" aria-current="page" href="#day2">Day 2</a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div style="display: flex; justify-content: center; align-items: center;  flex-direction: column; padding:10px ;">
        <h4 id="day1" class="text-center p-3" style="border : 2px solid red; border-radius: 10px; width: 15%; ">Day 1
        </h4>
    </div>
    <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            <h3> Chief Guest : Sundar Pichai</h3>
            <small>CEO Google</small>
        <p>
            <button class="btn btn-small btn-outline-transparent"> <a href="https://en.wikipedia.org/wiki/Sundar_Pichai"
                    style="text-decoration: none;">about chief guest</a> </button>
</p>
        </div>
    <div style="font-size: 1.1rem;">

      
        <div class="container" style="padding: 5% ;">
            <table class="table table-striped" style="border: 20px; border-radius: 10px;">
                <thead id="fx">
                  <tr>
                    <th scope="col">Sno.</th>
                    <th scope="col">Time</th>
                    
                    <th scope="col" >Event</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>08 : 00 AM to 08 : 30 AM</td>
                    
                    <td id="xx">Inaugral Ceremony</td>
                    <td>CTOC team</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>08 : 30 AM to 09 : 30 AM</td>
                    <td id="xx">Introduction and Welcome</td>
                    
                    <td>Dr. Rajeev Gupta</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>09 : 30 AM to 10 : 00 AM</td>
                    <td id="xx">Optical Communication Introduction </td>
                    
                    <td>Prof. Asim Mukharjee</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>10 : 30 AM to 11 : 20 AM</td>
                    <td id="xx">Optical Communication Reserch Related </td>
                    
                    <td>Dr. Sangeeta Sharma</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>11 : 20 AM to 1 : 00 PM</td>
                    <td id="xx">Recess</td>
                    
                    <td>----</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>1 : 00 PM to 1 : 30 PM</td>
                    <td id="xx">Research paper on Integrated Chips</td>
                    
                    <td>Dr. Basant Kumar</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>1 : 30 AM to 2 : 00 PM</td>
                    <td id="xx">Research paper on VLSI technology</td>
                    
                    <td>Dr. Basudava shrivastava</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>2 : 00 AM to 2 : 30 PM</td>
                    <td id="xx">Conclusion</td>
                    
                    <td>Prof. Yogendra Kumar</td>
                  </tr>
        
                </tbody>
              </table>
        </div>
        
    </div>
    <div style="display: flex; justify-content: center; align-items: center;  flex-direction: column; padding:10px ;">
        <h4 id="day2" class="text-center p-3" style="border : 2px solid red; border-radius: 10px; width: 15%; ">Day 2
        </h4>
    </div>
    <div class="container-fluid text-center mb-1"
            style=" border: 2px solid rgb(246, 207, 207); border-radius: 5px; width: 90%; padding: 15px; background-color: rgb(253, 239, 231);">
            <h3> Chief Guest : Sandeep Maheshwari</h3>
            <small>Motivational Speaker and Entrepreneur</small>
            <p>
            <button class="btn btn-small btn-outline-transparent"> <a href="https://en.wikipedia.org/wiki/Sandeep_Maheshwari"
                    style="text-decoration: none;">about chief guest</a> </button>
                </p>
        </div>
    <div style="font-size: 1.1rem;">


       
        <div class="container" style="padding: 5%; ">
            <table class="table table-striped" style="border: 20px ;">
                <thead id="fx">
                  <tr>
                    <th scope="col">Sno.</th>
                    <th scope="col">Time</th>
                    
                    <th scope="col" >Event</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>08 : 00 AM to 08 : 30 AM</td>
                    
                    <td id="xx">Inaugral Ceremony</td>
                    <td>CTOC team</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>08 : 30 AM to 09 : 30 AM</td>
                    <td id="xx">Introduction and Welcome</td>
                    
                    <td>Dr. Rajeev Gupta</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>09 : 30 AM to 10 : 00 AM</td>
                    <td id="xx">Digital signal Processing</td>
                    
                    <td>Prof. Amit Dhawan</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>10 : 30 AM to 11 : 20 AM</td>
                    <td id="xx">Nanotechnology Workspace</td>
                    
                    <td>Dr. Sangeeta Sharma</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>11 : 20 AM to 1 : 00 PM</td>
                    <td id="xx">Recess</td>
                    
                    <td>----</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>1 : 00 PM to 1 : 30 PM</td>
                    <td id="xx">Advanced Computer architecture</td>
                    
                    <td>Dr. Neeraj Tyagi</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>1 : 30 AM to 2 : 00 PM</td>
                    <td id="xx">Advanced VLSI technology</td>
                    
                    <td>Dr. Rajeev Tripathi</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>2 : 00 AM to 2 : 30 PM</td>
                    <td id="xx">Closing Ceremony</td>
                    
                    <td>Chief Guest Speech</td>
                  </tr>
        
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}
