{%extends "base.html"%}

{%block content%}

<div style="min-height: 500px; background-color: rgb(200, 200, 200);">
  <h3 style="text-align: center; padding-block: 20px;"> Cheif Guests </h3>
  <div class="container" style="display: flex; flex-direction : column; justify-content:center; align-items:center;">
    <div class="card" style="width: 25rem; background-color: rgb(200,200,200);">
      <img src="/static/Images/Sundar Pichai.jpg " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sundar Pichai</h5>
        <p class="card-text">CEO Google</p>

      </div>
    </div>
  </div>
  <div class="container" style="display: flex;">
    <div class="card" style="width: 25rem; background-color: rgb(200,200,200);margin: 18px;">
      <img src="/static/Images/Sandeep Maheshwari1.jpg" style = " min-height: 273px;"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sandeep Maheshwari</h5>
        <p class="card-text">Motivational Speaker</p>

      </div>
    </div> <div class="card" style="width: 25rem; background-color: rgb(200,200,200);margin: 18px;">
      <img src="/static/Images/Sanjay Gupta Country Manager Google.webp" style = " min-height: 273px;"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sanjay Gupta</h5>
        <p class="card-text">Google India Head</p>

      </div>
    </div>
    <div class="card" style="width: 25rem; background-color: rgb(200,200,200);margin: 18px;">
      <img src="/static/Images/Director MNNIT.jpg"style = " min-height: 273px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">R. S. Verma</h5>
        <p class="card-text">Director of MNNIT, Allahabad</p>

      </div>
    </div>

  </div>

</div>

{%endblock%}